{% extends "auctions/layout.html" %} {% block body %}
{% load static %}
<h2>Active Listings</h2>

<div class="listings">
    <ul>
        {% for listing in listings %}
        <a href="{% url 'auctions:listing' listing.id %}">
            <div class="item">
                <div class="image">
                    {% if listing.image_url != "False" %}
                    <img src="{{ listing.image_url }}" alt=" {{ listing.title }}" />
                    {% else %}
                    <img src="{% static 'auctions\images\placeholder.webp' %}" alt="no image" />
                    {% endif %}
                </div>

                <h3>{{ listing.title }}</h3>
                <div class="info">
                    <p><span>price: </span>{{ listing.starting_bid }}</p>
                    <p><span>category: </span>{{ listing.category }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>

{% endblock %}