{% extends "auctions/layout.html" %} {% block body %}
{% load static %}
<div class="listing">
	<div class="header left">
		{% if listing.image_url != "False" %}
		<img src="{{ listing.image_url }}" alt=" {{ listing.title }}" />
		{% else %}
		<img src="{% static 'auctions\images\placeholder.webp' %}" alt="no image" />
		{% endif %}
	</div>
	<div class="content right">
		<div class="buttons">
			{% if user.is_authenticated %}
			{% if watchlist %}
			<form action="{% url 'auctions:watchlist_add' listing.id%}" method="post">{% csrf_token %}<button>remove
					from watchlist</button></form>
			{% else %}
			<form action="{% url 'auctions:watchlist_add' listing.id%}" method="post">{% csrf_token %}<button>add to
					watchlist</button></form>
			{% endif %}
			{% if user.id == listing.user_id.id %}
			<form action="{% url 'auctions:close_listing' listing.id%}" method="post">{% csrf_token %}<button>close
					auction</button></form>
			{% endif %}
			{% endif %}
		</div>
		<h1>{{ listing.title }}</h1>
		<p>{{ listing.description }}</p>
	</div>
	<div class="bidding left">
		{% if user.id and user.id != listing.user_id.id %}
		{% if listing.winner_id %}
		<p><span>winner: </span>{{ listing.winner_id }}</p>
		{% else %}
		{% if user.is_authenticated %}
		<form action="{% url 'auctions:bid' listing.id %}" method="post"><label for="bid"></label>
			{% if highest_bid != False %}
			<input type="number" name="bid" id="bid" min="{{ highest_bid }}" value="{{ highest_bid }}">
			{% else %}
			<input type="number" name="bid" id="bid" min="{{ listing.starting_bid }}"
				value="{{ listing.starting_bid }}">
			{% endif %}
			<button>bid!</button>{% csrf_token %}
			{% endif %}
		</form>
		{% endif %}
		{% else %}
		{% if listing.winner_id %}
		<p><span>winner: </span>{{ listing.winner_id }}</p>
		{% else %}
		{% if highest_bid != False %}
		<p><span>highest bid: </span>${{ highest_bid }}</p>
		{% else %}
		<p><span>highest bid: </span>${{ listing.starting_bid }}</p>
		{% endif %}
		{% endif %}
		{% endif %}

		<p><span>category: </span><a href="{% url 'auctions:category' %}?category={{ listing.category}}">{{ listing.category }}</a></p>

	</div>
	<div class="comments right">
		{% for comment in comments %}
		<p><span>{{ comment.user }}: </span>{{ comment.comment }}</p>
		{% endfor %}
		{% if user.is_authenticated %}
		<form action="{% url 'auctions:comment' listing.id %}" method="post">
			{% csrf_token %}
			<div><textarea name="comment" id="comment" placeholder="comment..." cols="50" rows="5"></textarea></div>
			<button>Submit</button>
		</form>
		{% endif %}
	</div>
</div>

{% endblock %}